<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Circuit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
.card{
    padding: 20px;
}
.card-header{
    background: red;
    color: white;
}
.form-control{
    border: 1px solid red;
}
.btn{
    margin: 20px;
    background: red;
    color: white;
    float: right;
}
.btn:hover{
    background: white;
    color: red;
}
</style>
</head>
<body>
    <div class="card">
        <div class="card-header text-center">
            <h1>Edit Circuit Details</h1>
        </div>
        <div class="card-body">
    
    <form action="/update_circuit/{{circuits.circuit_serial}}" method="POST">
        {%csrf_token %}
        <div class="row">
            <div class="col">
                <label>Circuit Serial</label>
                <input type="text" name="circuit_serial" class="form-control" placeholder="text" value="{{circuits.circuit_serial}}" readonly required>
            </div>
            <div class="col">
                <label>Circuit Name </label>
                <input type="text" name="circuit_name" class="form-control" placeholder="text" value="{{circuits.circuit_name}}" required>
            </div>
        </div>

         <div class="row">
             <div class="col">
                <label>Circuit Location</label>
                <input type="text" name="circuit_location" class="form-control" placeholder="text" value="{{circuits.circuit_location}}" required>
             </div>
             <div class="col">
                <label>Circuit length </label>
                <input type="number" name="circuit_length" class="form-control" placeholder="Numbers only" value="{{circuits.circuit_length}}" required>
            </div>

         </div>
         <div class="row">
            <div class="col">
                <label>Circuit Description</label>
                <input type="text" name="circuit_description" class="form-control" placeholder="Text" value="{{circuits.circuit_description}}" >
            </div>
            </div>
        

            <input type="submit" value="Submit" class="btn">
            <input type="reset" value="Reset" class="btn">
        
        

        {% if messages %}
        {% for result in messages%}
        <h3>{{result}}</h3>
        {% endfor %}
        {% endif %}

    </form>
    </div>
    </div>
    
</body>
</html>